* { box-sizing: border-box;
}
html, body { width: 100%; }

img{ width: 100%;}

#etsy {
    height: 50px;
    padding-top: 10px;
}
.header {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
}
.input-group {
    padding-top: 10px;
}
.nav-right {
    color: rgba(40, 112, 139, 0.9);
}
.nav-right > span {
    padding: 20px;

}

.sub-header {
    border-top: 1px solid rgba(208, 205, 201, 0.6) ;
    border-bottom: 1px solid rgba(208, 205, 201, 0.6) ;
    padding: 10px;
}
.sub-header > span {
    font-size: 15px;
    padding-top: 10px;
    padding-right: 10px;
}
ul {
    background-color: white;
}
ul > h5 {
    padding-left: 10px;
    padding-top: 10px;
}
.strong {
    padding-left: 25px;
}
.text-muted {
  font-size: 12px;
}

.card {
  background: white;
  padding: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  height: 230px;
  border-radius: 2px;
  margin-bottom: 30px;
}
.card img {
  height: 150px;
  padding-bottom: 10px;
}

.card span {
    display: inline-block;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

#emailBar {
    padding-left: 450px;
    padding-right: 450px;
}
.rowAboveFooter {
    padding-bottom: 40px;
}
.row-bottom {
    border-top: 1px solid rgba(208, 205, 201, 0.6);
    padding-top: 15px;
}
.left-col {
    padding-left: 120px;
}

.right-col {
    padding-right: 100px;
}
